# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database/Instance
instance/
*.db

# Static/Uploads (Optional: if you don't want to push uploaded files)
static/uploads/*
!static/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db
